beautifulsoup4==4.12.3
gTTS==2.5.4
joblib==1.4.2
langchain-ollama==0.2.0
librosa==0.10.2.post1
matplotlib==3.9.2
mlxtend==0.23.3
openai_whisper==20240930
pdfplumber==0.11.4
playwright==1.48.0
PyAudio==0.2.14
pyttsx3==2.98
pytz==2024.1
pywebview==5.2
Requests==2.32.3
scikit_learn==1.5.2
SpeechRecognition==3.11.0
selenium==4.26.1
torchmetrics==1.6.0
transformers==4.46.1
webdriver_manager==4.0.2
wikipedia==1.4.0
yt_dlp==2024.11.18
